footer {
    width: 100%;
    min-height: 15vh;
    background-color: rgba(15, 15, 15, 0.6);
    text-align: center;
    
}

footer,
footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;

}

footer ul {
    width: 100%;
    height: 100%;
    justify-content: center;
}
footer li {
    width:100%;
    height: 24%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: var(--colorFooterPL);
    margin: 0.21em 0;
}

footer #i01, footer #i02{
    justify-content: end;
}

footer #i02 a{
    font-size: 0.72em;
    color: var(--colorFooterPL);
}

footer a{
    flex-flow: row nowrap;
    color: var(--colorFooterPL);
    margin:0 0.72rem;
}

footer #i03{
    width: 100%;
    height: 30%;
    display:flex;
    justify-content: center;
    align-items: start;
    flex-flow: row nowrap;
    font-size: 0.72em;
    white-space: nowrap;
    color: var(--colorFooterPL);
}

.envelopeSVG{
    margin: 0 0.6%;
}
footer #i01 h2{
    font-size: 0.99rem;
    color:var(--colorFooterP);
}